@model MvcMovie.Models.Movie

@{
    ViewData["Title"] = "Add Wishlist";
}

<h2>Edit</h2>

<form asp-action="AddWishlist">
    <div class="form-horizontal">
        <h4>Movie</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ID" />
        <div class="form-group">
            <label asp-for="Title" class="col-md-2 control-label"></label>
                @Html.TextBoxFor(model => model.Title, new { @readonly = true }) 
        </div>
        <div class="form-group">
            <label asp-for="ReleaseDate" class="col-md-2 control-label"></label>
                @Html.TextBoxFor(model => model.ReleaseDate, new { @readonly = true }) 
        </div>
        <div class="form-group">
            <label asp-for="Genre" class="col-md-2 control-label"></label>
                @Html.TextBoxFor(model => model.Genre, new { @readonly = true })
        </div>
        <div class="form-group">
            <label asp-for="Price" class="col-md-2 control-label"></label>
                @Html.TextBoxFor(model => model.Price, new { @readonly = true })
        </div>
        <div class="form-group">
            <label asp-for="Rating" class="col-md-2 control-label"></label>
                @Html.TextBoxFor(model => model.Rating, new { @readonly = true })
        </div>
        <div class="form-group">
            <label asp-for="Image" class="col-md-2 control-label"></label>
                @Html.TextBoxFor(model => model.Image, new { @readonly = true })
        </div>
                @Html.CheckBoxFor(model => model.AddedWishlist, new { @readonly = true })
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
