@model MvcMovie.Models.MovieGenreViewModel

@{
    ViewData["Title"] = "Index";
}

<div class="container">
        @foreach (var item in Model.movies)
        {
        <div class="col-sm-4">
            <div class="panel panel-primary">
                    <div class="panel-heading">
                        @Html.DisplayFor(modelItem => item.Title)<br>
                        @Html.DisplayNameFor(model => model.movies[0].ReleaseDate) : @Html.DisplayFor(modelItem => item.ReleaseDate)<br>
                        @Html.DisplayNameFor(model => model.movies[0].Genre) : @Html.DisplayFor(modelItem => item.Genre)<br>
                        @Html.DisplayNameFor(model => model.movies[0].Rating) : @Html.DisplayFor(modelItem => item.Rating)
                    </div>
                                    <div class="panel-body"><img src="@Url.Content(@item.Image)" class="img-responsive" style="width:80%" alt="Image"></div>
                                    <div class="panel-footer">@Html.DisplayFor(modelItem => item.Price)</div>
                                    <div class="panel-footer"> @Html.DisplayNameFor(model => model.movies[0].AddedWishlist) : @Html.CheckBoxFor(modelItem => item.AddedWishlist)</div>
                                    <div class="panel-footer">
                                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                                        <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a> |
                                        <a asp-action="AddWishlist" asp-route-id="@item.ID">Add Wishlist</a>
                                    </div>
            </div>
        </div>
        }
    </div><br>

<footer class="container-fluid text-center">
    <p>Online Store Copyright</p>
    <form class="form-inline">
        Get deals:
        <input type="email" class="form-control" size="50" placeholder="Email Address">
        <button type="button" class="btn btn-danger">Sign Up</button>
    </form>
    <form class="form-inline">
        <p>
            <a asp-action="Create">Create New</a>
        </p>

        <form asp-controller="Movies" asp-action="Index" method="get">
            <p>
                <select asp-for="movieGenre" asp-items="Model.genres">
                    <option value="">All</option>
                </select>

                Title: <input type="text" name="SearchString">
                <input type="submit" value="Filter" />
            </p>
        </form>
    </form>
</footer>