@model MvcMovie.Models.WishListViewModel

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    @foreach (var item in Model.favItems)
    {
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    @Html.DisplayFor(modelItem => item.Title)<br>
                    @Html.DisplayNameFor(modelItem => item.ReleaseDate) : @Html.DisplayFor(modelItem => item.ReleaseDate)<br>
                    @Html.DisplayNameFor(modelItem => item.Genre) : @Html.DisplayFor(modelItem => item.Genre)<br>
                    @Html.DisplayNameFor(modelItem => item.Rating) : @Html.DisplayFor(modelItem => item.Rating)
                </div>
                <div class="panel-body"><img src="@Url.Content(@item.Image)" class="img-responsive" style="width:80%" alt="Image"></div>
                <div class="panel-footer">@Html.DisplayFor(modelItem => item.Price)</div>
                
                
            </div>
        </div>
    }
</div><br>

@*@model MvcMovie.Models.MovieGenreViewModel

@{
    ViewData["Title"] = "Index";
}

@foreach (var item in Model.movies)
{
    if (item.AddedWishlist == true)
    {
        @Html.DisplayFor(modelItem => item.AddedWishlist)
    }
}*/


            @*<div>
                    <h4>WishList</h4>
                    <hr />
                    <dl class="dl-horizontal">
                        @foreach (var item in Model.favItems)
                        {
                        <dt>
                            @Html.DisplayNameFor(modelItem => item.ID)
                        </dt>
                        <dd>
                            @Html.DisplayFor(modelItem => item.ID)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(modelItem => item.Title)
                        </dt>
                        <dd>
                            @Html.DisplayFor(modelItem => item.Title)
                        </dd>
                        }
                    </dl>
                </div>
            *@
