@model MvcMovie.Models.WishListViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>WishList</h2>


        @foreach (var item in Model.favItems)
        {

                    @Html.DisplayFor(modelItem => item.Title)

                    @Html.DisplayFor(modelItem => item.ReleaseDate)

                    @Html.DisplayFor(modelItem => item.Genre)

                    @Html.DisplayFor(modelItem => item.Price)
    
                    @Html.DisplayFor(modelItem => item.Rating)
               
                    @Html.DisplayFor(modelItem => item.AddedWishlist)
                
                    <img src="@Url.Content(@item.Image)" widht="50" height="100" />
           
        }


@*@model MvcMovie.Models.MovieGenreViewModel

@{
    ViewData["Title"] = "Index";
}

@foreach (var item in Model.movies)
{
    if (item.AddedWishlist == true)
    {
        @Html.DisplayFor(modelItem => item.AddedWishlist)
    }
}*/


            @*<div>
                    <h4>WishList</h4>
                    <hr />
                    <dl class="dl-horizontal">
                        @foreach (var item in Model.favItems)
                        {
                        <dt>
                            @Html.DisplayNameFor(modelItem => item.ID)
                        </dt>
                        <dd>
                            @Html.DisplayFor(modelItem => item.ID)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(modelItem => item.Title)
                        </dt>
                        <dd>
                            @Html.DisplayFor(modelItem => item.Title)
                        </dd>
                        }
                    </dl>
                </div>
            *@
